/* big tablets to 1200px {widths smaller than the 1148px row} */
@media only screen and (max-width: 1200px) {

}


/* large tablets: 768 - 1023px */
@media only screen and (max-width: 1023px) {
   
}


/* large phones to small tablets: 481 - 767px */
@media only screen and (max-width: 767px) {
      
}


/* small phones: 0 - 480px */
@media only screen and (max-width: 480px) {
    h1{font-size: 6vh;}
    .links{margin: auto;}
}



 