* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
,

.home{
    height: 100vh;
}
body {
    background-color: #f1f0e9;
    color: #010b43;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

h1 {
    position:initial;
    font-weight:500;
    padding-top: 30vh;
    font-family: 'Jost', sans-serif;
    font-size: 10vh;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}
  
@keyframes caret {
    50% {
      border-color: transparent;
    }
}

h2{
    font-weight: 300;
    font-family: 'Jost', sans-serif;
    font-size:25px;
    padding-bottom: 5vh;
}

a {
    color: #010b43;
}

a:hover {
    color: hotpink;
  }

.links {
    color:#010b43;
    margin-top: 70px;
    list-style: none;
}

li{
    display: inline-block;
    margin-right: 4vh;
    margin-bottom: 10vh;
}

h4 {
    font-weight: 300;
    font-family: 'Jost', sans-serif;
    font-size:20px;
    float: right; 
    margin:auto;
}

footer{
    font-weight: 300;
    font-family: 'Jost', sans-serif;
    font-size:15px;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    height: 20vh;
    margin-bottom: 10px;

}

/* css for projects */
.projects{
    border-radius: 16px;
    width: 90vw;
    margin-top: 10vh;
    border: solid;
    border-color: #ccd5ae;
    border-width: thick;
    background-color: #ccd5ae;
}

.project-link{
    float:right;
}

h3 {
    font-family: 'Jost', sans-serif;
    font-size: 6vh; 
}

.project-img{
    margin: 3vh;
    border-radius: 12px;
}

.project-text {
    padding-top: 3vh;
}