* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
,

body {
    background-color: #f1f0e9;
    color: #010b43;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


h1 {
    margin-left: 100px;
    position:initial;
    font-weight:500;
    margin-top: 150px;
    font-family: 'Jost', sans-serif;
    font-size: 90px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}
  
@keyframes caret {
    50% {
      border-color: transparent;
    }
}

h2{
    margin-left: 100px;
    font-weight: 300;
    font-family: 'Jost', sans-serif;
    font-size:25px;
}

a {
    color: #010b43;
}

a:hover {
    color: hotpink;
  }

.links {
    color:#010b43;
    margin-left: 100px;
    margin-top: 70px;
    list-style: none;
}

li{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 300px;
}

footer{
    font-weight: 300;
    font-family: 'Jost', sans-serif;
    font-size:15px;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    height: 45vh;
    margin-bottom: 10px;

}

.current-project{
    width: 90%;
    height: 300px;
    margin-left: 5%;
    background-color: white
}

.current-img{
    width: 35%;
    height: 100%;
    float: left;
}
.punnet-img {
    margin-left: 20%;
    margin-top: 5%;
}

.current-img:hover{
    background-color: #f1f0e962;    
}

.current-text {
    width: 65%;
    height: 100%;
    float: right;
 
}

h3 {
    margin-left: 40px;
    font-weight:500;
    margin-top: 60px;
    font-family: 'Jost', sans-serif;
    font-size: 40px; 
}

.h3-text {
    width: 85%;
    margin-left: 40px;
    font-weight:300;
    margin-top: 20px;
    font-family: 'Jost', sans-serif;
    font-size: 18px; 
}